@import url('common.css');

.flex_1{
    width:1280px; height:1300px;
    margin:50px auto;
}
.flex_1 h2{}
.flex_1 ul{
    height:100%;
    display:flex;
    flex-wrap:wrap;
/*    한줄씩 그룹핑하기*/
    justify-content:space-around;
/*    양쪽 끝을 맞추고 가운데는 알아서 정렬함*/
    align-content:space-around;
/*    align-items은 한줄짜리에게 명령내릴 때 씀*/
    border:1px solid #000;
}
.flex_1 ul li{
    width:30%;
}
.flex_1 ul li img{
    width:100%;
}