@import url('../css/common.css');

.change {
    margin: 0;
    width:100%;
   
}
.chang img{width:100%;
    position:absolute;
    top:0; left:0;
}

.change img:nth-of-type(1){ width:1000px; height:1000px;
    position:absolute;
        top:0; left:0;
z-index: 1;}
.change img:nth-of-type(2){
    width:1000px; height:1000px;
    position:absolute;
        top:0; left:0;
    z-index: 2;
   }
.change ul {
    position:fixed;
    top:0; left:0;
            margin: 0 auto;
    width: 300px;
    padding: 30px;
    text-align: center;}
    

.change ul li{
       width:0 auto;
    left:0; bottom:0;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.change ul li:hover {
    border: 2px solid skyblue;
}

.change img{width:170px; height:150px;
position:absolute;
 left:0; top:0;
 margin:0; padding:0;}

.change ul li:nth-of-type(1):hover img:nth-of-type(1){
    position:absolute;
z-index:3;
    }
